@page "/"
@rendermode InteractiveServer


@inject NavigationManager navManager


<div class="d-flex justify-content-center align-items-center text-center px-4" style="height: 100vh; background-color: #ffc0cb;">
    <div class="w-100 p-5 bg-white rounded shadow" style="max-width: 600px; border: 2px solid #ff69b4;">
        <h1 class="mb-5" style="color: #000000; font-weight: 800;">Welcome to Our Relationship Website</h1>

        <p class="mb-4" style="font-size: 1.25rem; color: #555;">Find out if your partner is suited for you!</p>

        <div class="d-flex flex-column gap-3">
            <Button Size="ButtonSize.ExtraLarge" Style="background-color: #6c63ff; color: white; border-color: #000000;" @onclick="RegisterPressed">Register</Button>
            <Button  Size="ButtonSize.ExtraLarge" Style="background-color: #6c63ff; color: white; border-color: #000000;" @onclick="LoginPressed">Login</Button>
        </div>
    </div>
</div>

@code{
    private void RegisterPressed()
    {
        navManager.NavigateTo("/register");
    }

    private void LoginPressed()
    {
        navManager.NavigateTo("/login");
    }

}